.DS_Store
/atcoder/ABC/1/*
/atcoder/ABC/2/*
/atcoder/ABC/3/*
/atcoder/DP/1/*
/atcoder/DP/2/*
/atcoder/typical90/*
/book_algorithm_data_structure/*
/ant_book/*
/aidu_online_judge_mynavi/*
/utils/*

!.gitignore
!/**/*.cpp
!**/*.py
!**/*.rs
!**/*.sh
!**/*.json
!**/*.md
